* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: EXO,sans-serif;
}
/* ====================Start General Style======================= */
.color-r {
    color: #E7000B;
}
.color-b {
    color: #155DFC;
}
/* ====================End General Style======================= */

/* ====================Start Navbar Style======================= */
.header .container {
    width: 75%;
    margin: auto;
}
.header .container .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    padding-block: 5px;
    padding-inline: 20px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: white;
    position: fixed;
    z-index: 50;
    top: 15px;
}
.header .container .navbar .icon {
    font-weight: 800;
    font-size: 30px;
    line-height: 1.8;
}
.header .container .navbar .icon a {
    display: flex;
    gap: 5px;
    text-decoration: none;
    white-space: nowrap;
    color: #111;
}
.header .container .navbar .icon span {
    color:#ff6900 ;
}
.header .container .navbar .hamburger-icon,#nav-toggle,.mobile-menu,.overlay {
    display: none;
}
.header .container .navbar .links ul {
    display: flex;
    gap: 25px;
    list-style: none;
}
.header .container .navbar .links ul li {
    display: flex;
    gap: 25px;
}
.header .container .navbar .links ul li a {
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    white-space: nowrap;
    color: #111
}
.header .container .navbar .links ul li a:hover {
    color:#df801a ;
    transition: 0.2s;
}
.header .container .navbar .links ul li i {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #8080805d;
}
.header .container .navbar .nav-btn button{
    padding-block: 8px;
    padding-inline: 16px;
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    border-radius: 20px;
    line-height: 1.25;
    background-color: #FFD15B;
    cursor: pointer;
    transition: 0.1s;
}
.header .container .navbar .nav-btn button:hover {
    transform: translate(3px, 3px);
}
/* ====================End Navbar Style======================= */
#home {
    padding-top: 9rem;
    position: relative;
    width: 100%;
    padding-bottom: 70px;
    border-bottom: 3px solid black;
    background-color: #FFF085;
}
#home::before {
    content: "";
    display: block;
    width: 130px;
    height: 130px;
    position: absolute;
    top: 40px;
    left: 40px;
    background-color: #1111111d;
    transform: rotate(12deg);
}
#home::after {
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 145px;
    right: 70px;
    background-color: #fb2c3617;
    transform: rotate(45deg);
}
#home .container {
    width: 75%;
    margin: auto;
}
#home .container .hero {
    display: flex;
    align-items: center;
    gap: 50px;
}
#home .container .hero .hero-content {
    width: 55%;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    gap: 20px;
}
#home .container .hero .hero-content .trending-badge {
    transform: rotate(-2deg);
    padding-bottom: 15px;
}
#home .container .hero .hero-content .trending-badge span {
    display: inline-block;
    background-color: black;
    color: white;
    padding-block: 8px;
    padding-inline: 15px;
    font-weight: 700;
    font-size: 14px;
    border: 3px solid black;
    box-shadow: 3px 3px 0 black;
}
#home .container .hero .hero-content h2 {
    font-weight: 900;
    font-size:72px ;
    line-height: 1.25;
    text-shadow: 3px 3px #000c;
}
#home .container .hero .hero-content h2 span {
    display: block;
}
#home .container .hero .hero-content p {
    background-color: white;
    padding: 16px;
    font-weight:600;
    font-size: 24px;
    line-height: 2rem;
    color: black;
    box-shadow: 3px 3px #000;
    z-index: 2;
}
#home .container .hero .hero-content .hero-btns {
    display: flex;
    gap: 15px;
    position: relative;
    z-index: 1;
    padding-top: 5px;
}
#home .container .hero .hero-content .hero-btns .btn1,.btn2 {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: inherit;
    border: 4px solid #000;
    box-shadow: 4px 4px #000;
    padding-block: 16px;
    padding-inline: 32px;
    font-weight: 700;
    font-size: 20px;
    transition-duration: .2s;
    cursor: pointer;
}
#home .container .hero .hero-content .hero-btns .btn1 {
    background-color: #000;
    color: white;
    z-index: 9999;
}
#home .container .hero .hero-content .hero-btns .btn1:hover,.btn2:hover {
    transform: translate(4px, 4px);
    box-shadow: 0 0 0 black;
}
#home .container .hero .hero-content .hero-btns .btn-shape::before {
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    bottom:0 ;
    left: 300px;
    background-color: #11111110;
    transform: rotate(45deg);
    z-index: -1;
}
#home .container .hero .hero-image {
    width: 50%;
    transform: rotate(3deg);
    position: relative;
}
#home .container .hero .hero-image img {
    width: 90%;
    height: 390px;
    object-fit: cover;
    border: 5px solid black;
    box-shadow: 5px 5px #000;
    background-color: #000;
    transition: 0.3s;
}
#home .container .hero .hero-image .image img:hover {
    transform: translate(-3px , -3px);
}
#home .container .hero .hero-image span {
    padding-block: 8px;
    padding-inline: 16px;
    background-color: #e73e3e;
    font-weight: 700;
    border: 2px solid black;
    color: white;
    box-shadow: 3px 3px #000;
    position: absolute;
    top: -15px;
    right: 40px;
    transform: rotate(24deg);
}







/* ====================Start Home Section Style======================= */

@media screen and (max-width:1024px) {
    .header .container .navbar .links ,
    .header .container .navbar .nav-btn  {
        display: none;
    }
    .header .container .navbar {
        display: flex;
        justify-content: space-between;
        width: 95%;
        left: 0;
        right:0;
        margin: auto;
    }
    .header .container .navbar .icon {
        font-weight: 800;
        font-size: 30px;
    }
    .header .container .navbar .overlay {
        display: none;
    }
    .header .container .navbar #nav-toggle:checked ~ .overlay {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width:100%;
        height: 100vh;
        background-color: hsla(0, 0%, 0%, 0.8);
    }
    .header .container .navbar #nav-toggle:checked ~ .mobile-menu {
        transform: translateX(0);
    }
    .header .container .navbar .hamburger-icon {
        display: block;
        padding-block: 3px;
        padding-inline: 10px;
        border: 3px solid black;
        border-radius: 5px;
        font-size: 30px;
        box-shadow: 4px 4px 0 black;
        transition: 0.4s;
    }
    .header .container .navbar .hamburger-icon:hover {
        transform: translate(0, -2px);
    }
    .header .container .navbar .mobile-menu {
        display: block;
        background-color: white;
        width: 230px;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 50;
        transform: translateX(120%);
        transition: transform 0.5s ease;
    }
    .header .container .navbar .mobile-menu .close-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-block: 10px;
        margin: 15px;
        border-top:2px solid black ;
        border-bottom: 2px solid black;
    }
    .header .container .navbar .mobile-menu .close-menu span  {
        font-weight: 800;
        font-size: 18px;
    }
    .header .container .navbar .mobile-menu .close-menu i {
        border: 3px solid black;
        padding-block: 7px;
        padding-inline: 10px;
        font-size: 18px;
    }
    .header .container .navbar .mobile-menu .close-menu i:hover {
        color: #ee6161;
        background-color: #fed4d4;
    }
    .header .container .navbar .mobile-menu ul {
        list-style: none;
        padding-left: 15px;
    }
    .header .container .navbar .mobile-menu ul li {
        margin-block: 20px;
        transition: 0.3s;
    }
    .header .container .navbar .mobile-menu ul li:hover {
        transform: translate(0 , -4px);
    }
    .header .container .navbar .mobile-menu ul li a {
        text-decoration: none;
        font-weight: 700;
        font-size: 16px;
        white-space: nowrap;
        color: #111;
        margin-block: 10px;
    }
    .header .container .navbar .mobile-menu ul a:hover {
        color: #df801a;
    } 
    .header .container .navbar .mobile-menu .mobile-nav-btn {
        padding-top: 10px;
        padding-left: 15px;
    }
    .header .container .navbar .mobile-menu .mobile-nav-btn button {
        display: flex;
        align-items: center;
        gap: 5px;
        font-family: inherit;
        padding-block: 10px;
        padding-inline: 30px;
        font-size: 14px;
        font-weight: 700;
        border: 3px solid black;
        background-color:#FFD15B ;
        box-shadow: 4px 4px 0 black;
        transition: 0.3s;
    }
    .header .container .navbar .mobile-menu .mobile-nav-btn button:hover {
        transform: translate(0 , -4px);
    }
    #home {
        padding-top: 7.5rem;
        border-bottom: 3px solid black;
        overflow: hidden;
    }
    #home .container {
        width: 100%;
        margin: auto;
    }
    #home .container .hero {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
    #home .container .hero .hero-content {
        width: 95%;
        padding-left: 25px;
    }
    #home .container .hero .hero-content .trending-badge {
        transform: rotate(-2deg);
        padding-bottom: 10px;
    }        
    #home .container .hero .hero-content h2 {
        font-size:64px ;
    }
    #home .container .hero .hero-content p {
        font-size: 20px;
    } 
    #home .container .hero .hero-content .hero-btns .btn1,.btn2 {
    padding-block: 15px;
    padding-inline: 20px;
    }
    #home .container .hero .hero-image {
        width: 90%;
        margin: auto;
        transform: rotate(0deg);
        position: relative;
    }
    #home .container .hero .hero-image img {
        width: 100%;
        height: 330px;
    }
    #home .container .hero .hero-image .image img:hover {
        transform: translate(-3px , -3px);
    }
    #home .container .hero .hero-image span {
        top: -17px;
        right: -15px;
    }
}
@media screen and (min-width:768px) and (max-width:1024px) {    
    #home .container .hero .hero-content h2 {
        font-size:72px ;
    }
    #home .container .hero .hero-content p {
        font-size: 26px;
    } 
    #home .container .hero .hero-content .hero-btns .btn1,.btn2 {
    padding-block: 16px;
    padding-inline: 32px;
    }
}
@media screen and (min-width:1024px) and (max-width:1280px) {
    .header .container .navbar .links ,
    .header .container .navbar .nav-btn  {
        display: none;
    }
    .header .container .navbar {
        display: flex;
        justify-content: space-between;
        width: 98%;
        left: 0;
        right:0;
        margin: auto;
    }
    .header .container .navbar .icon {
        font-weight: 800;
        font-size: 30px;
    }
    .header .container .navbar .overlay {
        display: none;
    }
    .header .container .navbar #nav-toggle:checked ~ .overlay {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width:100%;
        height: 100vh;
        background-color: hsla(0, 0%, 0%, 0.8);
    }
    .header .container .navbar #nav-toggle:checked ~ .mobile-menu {
        transform: translateX(0);
    }
    .header .container .navbar .hamburger-icon {
        display: block;
        padding-block: 3px;
        padding-inline: 10px;
        border: 3px solid black;
        border-radius: 5px;
        font-size: 30px;
        box-shadow: 4px 4px 0 black;
        transition: 0.4s;
    }
    .header .container .navbar .hamburger-icon:hover {
        transform: translate(0, -2px);
    }
    .header .container .navbar .mobile-menu {
        display: block;
        background-color: white;
        width: 230px;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 50;
        transform: translateX(120%);
        transition: transform 0.5s ease;
    }
    .header .container .navbar .mobile-menu .close-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-block: 10px;
        margin: 15px;
        border-top:2px solid black ;
        border-bottom: 2px solid black;
    }
    .header .container .navbar .mobile-menu .close-menu span  {
        font-weight: 800;
        font-size: 18px;
    }
    .header .container .navbar .mobile-menu .close-menu i {
        border: 3px solid black;
        padding-block: 7px;
        padding-inline: 10px;
        font-size: 18px;
    }
    .header .container .navbar .mobile-menu .close-menu i:hover {
        color: #ee6161;
        background-color: #fed4d4;
    }
    .header .container .navbar .mobile-menu ul {
        list-style: none;
        padding-left: 15px;
    }
    .header .container .navbar .mobile-menu ul li {
        margin-block: 20px;
        transition: 0.3s;
    }
    .header .container .navbar .mobile-menu ul li:hover {
        transform: translate(0 , -4px);
    }
    .header .container .navbar .mobile-menu ul li a {
        text-decoration: none;
        font-weight: 700;
        font-size: 16px;
        white-space: nowrap;
        color: #111;
        margin-block: 10px;
    }
    .header .container .navbar .mobile-menu ul a:hover {
        color: #df801a;
    } 
    .header .container .navbar .mobile-menu .mobile-nav-btn {
        padding-top: 10px;
        padding-left: 15px;
    }
    .header .container .navbar .mobile-menu .mobile-nav-btn button {
        display: flex;
        align-items: center;
        gap: 5px;
        font-family: inherit;
        padding-block: 10px;
        padding-inline: 30px;
        font-size: 14px;
        font-weight: 700;
        border: 3px solid black;
        background-color:#FFD15B ;
        box-shadow: 4px 4px 0 black;
        transition: 0.3s;
    }
    .header .container .navbar .mobile-menu .mobile-nav-btn button:hover {
        transform: translate(0 , -4px);
    }
    #home .container {
        width: 100%;
        margin: auto;
    }
    #home .container .hero .hero-content {
        padding-left: 25px;
    }
}






















/* @media (min-width: 641px) and (max-width: 1280px) {
    .header .container .navbar .links ,
    .header .container .navbar .nav-btn  {
        display: none;
    }
    .header .container .navbar {
        width: 97%;
        left: 10px;
        display: flex;
        justify-content: space-between;
    }
    .header .container .navbar .icon {
        font-weight: 800;
        font-size: 22.5px;
    }
    .header .container .navbar .overlay {
        display: none;
    }
    .header .container .navbar #nav-toggle:checked ~ .overlay {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width:100%;
        height: 100vh;
        background-color: hsla(0, 0%, 0%, 0.8);
    }
    .header .container .navbar #nav-toggle:checked ~ .mobile-menu {
        transform: translateX(0);
    }
    .header .container .navbar .hamburger-icon {
        display: block;
        padding-block: 5px;
        padding-inline: 10px;
        border: 2px solid black;
        border-radius: 4px;
        font-size: 18px;
        box-shadow: 4px 4px 0 black;
        transition: 0.4s;
    }
    .header .container .navbar .hamburger-icon:hover {
        transform: translate(0, -2px);
    }
    .header .container .navbar .mobile-menu {
        display: block;
        background-color: white;
        width: 300px;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 50;
        transform: translateX(120%);
        transition: transform 0.5s ease;
    }
    .header .container .navbar .mobile-menu .close-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-block: 10px;
        margin: 15px;
        border-top:2px solid black ;
        border-bottom: 2px solid black;
    }
    .header .container .navbar .mobile-menu .close-menu span  {
        font-weight: 800;
        font-size: 24px;
    }
    .header .container .navbar .mobile-menu .close-menu i {
        border: 3px solid black;
        padding-block: 7px;
        padding-inline: 10px;
        font-size: 18px;
    }
    .header .container .navbar .mobile-menu .close-menu i:hover {
        color: #ee6161;
        background-color: #fed4d4;
    }
    .header .container .navbar .mobile-menu ul {
        list-style: none;
        padding-left: 15px;
    }
    .header .container .navbar .mobile-menu ul li {
        margin-block: 20px;
        transition: 0.3s;
    }
    .header .container .navbar .mobile-menu ul li:hover {
        transform: translate(0 , -4px);
    }
    .header .container .navbar .mobile-menu ul li a {
        text-decoration: none;
        font-weight: 700;
        font-size: 20px;
        white-space: nowrap;
        color: #111;
        margin-block: 10px;
    }
    .header .container .navbar .mobile-menu ul a:hover {
        color: #df801a;
    } 
    .header .container .navbar .mobile-menu .mobile-nav-btn {
        padding-top: 10px;
        padding-left: 15px;
    }
    .header .container .navbar .mobile-menu .mobile-nav-btn button {
        display: flex;
        align-items: center;
        gap: 5px;
        font-family: inherit;
        padding-block: 10px;
        padding-inline: 45px;
        font-size: 18px;
        font-weight: 700;
        border: 4px solid black;
        background-color:#FFD15B ;
        box-shadow: 4px 4px 0 black;
        transition: 0.3s;
    }
    .header .container .navbar .mobile-menu .mobile-nav-btn button:hover {
        transform: translate(0 , -4px);
    }
}  */




















